Repository solaegis/CharacterMarkdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, no-debug-prints, version-sync

Path conditions:
  validate-manifest: any of: ^CharacterMarkdown\.txt$
  no-debug-prints: any of: \.lua$
  version-sync: any of: ^(CharacterMarkdown\.txt|CHANGELOG\.md)$

checkpoint
  assets/Korianthas.md
  src/Commands.lua
  src/collectors/World.lua
  src/generators/Markdown.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Crafting.lua
  src/generators/sections/EquipmentEnhancement.lua
  src/generators/sections/PvPStats.lua
  src/generators/sections/World.lua
  src/settings/Defaults.lua
  src/settings/Panel.lua
  src/utils/AdvancedMarkdown.lua
  src/utils/Chunking.lua
  src/utils/Formatters.lua
Due: no-debug-prints

Reorganize playstyles to generic format and sort alphabetically
  src/settings/Panel.lua
Due: no-debug-prints

Code review: Fix SavedVariables edge cases and add comprehensive review document
  SAVEDVARIABLES_CODE_REVIEW.md
  src/Core.lua
  src/settings/Initializer.lua
Due: no-debug-prints

Unify command structure under /markdown with object:action pattern
  src/Commands.lua
Due: no-debug-prints

feat(ui): redesign markdown window with improved layout and visual feedback
  .cursorrules
  CODE_REVIEW.md
  CharacterMarkdown.addon
  CharacterMarkdown.xml
  README.md
  REVIEW_SUMMARY.md
  assets/examples/README.md
  assets/examples/korianthas.md
  assets/templates/README.md
  assets/templates/claude_project_setup.md
  src/Commands.lua
  src/Events.lua
  src/collectors/Economy.lua
  src/collectors/Equipment.lua
  src/collectors/Progression.lua
  src/generators/Markdown.lua
  src/generators/sections/Achievements.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Economy.lua
  src/generators/sections/Footer.lua
  src/generators/sections/Overview.lua
  src/generators/sections/PvPStats.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/AdvancedMarkdown.lua
  src/utils/Chunking.lua
  src/utils/Constants.lua
Due: no-debug-prints

feat: redesign markdown window with improved layout and aesthetics
  CHUNKING_CODE_REVIEW.md
  CHUNKING_CODE_REVIEW_2.md
  CharacterMarkdown.xml
  GREENFIELD_IMPLEMENTATION_COMPLETE.md
  GREENFIELD_SOLUTION_DEPLOYED.md
  IMPLEMENTATION_SUMMARY.md
  KEYBOARD_FIX_COMPLETE.md
  KEYBOARD_FIX_SUMMARY.md
  KEYBOARD_FOCUS_FIX.md
  KEYBOARD_FOCUS_FIX_FINAL.md
  NON_CHUNKING_CHANGES_SNAPSHOT.md
  PRIORITY_2_FIXES_APPLIED.md
  SECTION_CHUNKING_IMPLEMENTATION.md
  WINDOW_REDESIGN_COMPLETE.md
  WINDOW_REDESIGN_TEST_PLAN.md
  assets/examples/testing.md
  assets/textures/diamond-metal.dds
  docs/CHUNKING_ALGORITHM.md
  docs/CRAFT_BAG_FIX.md
  docs/CRAFT_BAG_SYSTEM_PROMPT.md
  src/ui/Window.lua
  src/utils/ChunkBuilder.lua
  src/utils/MarkdownParser.lua
  src/utils/Platform.lua
  test_section_chunking.lua
Due: no-debug-prints

refactor(platform): simplify OS detection and reduce logging noise
  src/utils/Platform.lua
Due: no-debug-prints

feat: markdown window UI fully functional with ESO/editor context switching
  .cursorrules
  CODE_REVIEW.md
  assets/examples/korianthas.md
  assets/examples/pelatiah.md
  assets/templates/README.md
  assets/templates/claude_project_setup.md
  docs/MARKDOWN_WINDOW_CREATION.md
  src/Commands.lua
  src/generators/Markdown.lua
  src/generators/sections/Character.lua
  src/settings/Defaults.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/Chunking.lua
  src/utils/Constants.lua
Due: no-debug-prints

docs: correct CHANGELOG for v2.2.0 - remove non-existent features
  CHANGELOG.md
  RELEASE_CHECKLIST.md
Due: version-sync

fix: settings command now properly opens panel
  src/Commands.lua
Due: no-debug-prints

fix: prioritize LAM handler for opening settings panel
  src/Commands.lua
Due: no-debug-prints

fix: preserve per-character data when resetting settings
  src/Commands.lua
Due: no-debug-prints

chore: ensure all per-character fields exist on initialization
  src/generators/Markdown.lua
  src/generators/sections/DLCAndMundus.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
Due: no-debug-prints

chore: update example markdown files
  assets/examples/README.md
  assets/examples/korianthas.md
  assets/examples/masisi.md
  assets/examples/pelatiah.md
Due: none

feat: allow version parameter for release:tag task
  RELEASE_CHECKLIST.md
  Taskfile.yaml
Due: none

Update .build-ignore
  .build-ignore
Due: none

Improve Build Notes display and fix TOC/section conditions
  assets/examples/masisi.md
  src/generators/Markdown.lua
  src/generators/sections/Character.lua
  src/utils/AdvancedMarkdown.lua
Due: no-debug-prints

Add Antiquities to section presence tests
  src/utils/SectionPresenceTests.lua
Due: no-debug-prints

CRITICAL FIX: Prevent data loss of build notes, custom title, and play style
  assets/examples/masisi.md
  src/generators/sections/Character.lua
  src/settings/Initializer.lua
  src/utils/AdvancedMarkdown.lua
Due: no-debug-prints

CRITICAL FIX: Prevent perCharacterData from being wiped on reloadui
  src/settings/Initializer.lua
Due: no-debug-prints

Add debug logging to diagnose customNotes loss issue
  src/settings/Initializer.lua
Due: no-debug-prints

CRITICAL FIX: Reduce customNotes limit to 1900 chars (ESO SavedVariables string limit)
  src/generators/Markdown.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/utils/Constants.lua
Due: no-debug-prints

Fix section presence tests to respect current settings
  assets/examples/masisi.md
  src/utils/SectionPresenceTests.lua
Due: no-debug-prints

Change build notes from callout to plain markdown
  src/generators/sections/Character.lua
Due: no-debug-prints

Remove deprecated markdown/markdown_format fields from SavedVariables
  src/generators/Markdown.lua
  src/generators/sections/Overview.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
Due: no-debug-prints

Fix riding skills data collection to use correct API and order
  src/collectors/Economy.lua
Due: no-debug-prints

Remove unused riding skills fields (trainingAvailable, allMaxed, *Max)
  src/collectors/Economy.lua
Due: no-debug-prints

Remove confusing chunking warnings (legacy is expected behavior)
  src/utils/Chunking.lua
Due: no-debug-prints

Refocus README on AI-powered build analysis and optimization
  README_ESOUI.txt
Due: none

Release preparation for v2.2.1
  CHANGELOG.md
  CharacterMarkdown.addon
  Taskfile.yaml
  assets/examples/dextera_dei.md
  assets/examples/masisi.md
  assets/examples/pelatiah.md
  assets/examples/testing.md
  assets/templates/README.md
  assets/templates/claude_project_setup.md
  scripts/validate-zip.sh
  src/Commands.lua
  src/Core.lua
  src/collectors/Character.lua
  src/collectors/Progression.lua
  src/collectors/Quests.lua
  src/collectors/TitlesHousing.lua
  src/collectors/World.lua
  src/generators/Markdown.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Combat.lua
  src/generators/sections/Equipment.lua
  src/settings/Initializer.lua
  src/ui/CharacterMarkdown.xml
  src/ui/Window.lua
  src/utils/AdvancedMarkdown.lua
  src/utils/ChunkBuilder.lua
  src/utils/Chunking.lua
  src/utils/SectionPresenceTests.lua
  src/utils/TestValidation.lua
  test_section_chunking.lua
Due: no-debug-prints, version-sync

Update documentation, settings, collectors, and UI components
  .cursorrules
  README.md
  README_ESOUI.txt
  RELEASE_CHECKLIST.md
  config.yaml
  docs/PVP_QUICK_REFERENCE.md
  docs/PVP_STATS_FEATURE.md
  docs/README.md
  docs/prompts/changelog_entry_prompt.md
  src/Commands.lua
  src/Init.lua
  src/collectors/Extended.lua
  src/collectors/TitlesHousing.lua
  src/collectors/World.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/Formatters.lua
  src/utils/SectionPresenceTests.lua
  src/utils/TestValidation.lua
Due: no-debug-prints

Add laetha.md example character profile and update template formatting
  assets/examples/laetha.md
  assets/templates/README.md
  assets/templates/claude_project_setup.md
Due: none

Update trim.py to preserve build notes and improve TONL string handling
  .luacheckrc
  examples/kellen_dysart.md
  scripts/trim.py
  src/api/Character.lua
  src/api/Combat.lua
  src/api/Equipment.lua
  src/api/Skills.lua
  src/collectors/Combat.lua
  src/collectors/Equipment.lua
  src/collectors/Skills.lua
  src/generators/sections/CharacterProgress.lua
  src/utils/Constants.lua
  src/utils/TONL.lua
Due: no-debug-prints

fix: Correctly display unassigned Champion Points per discipline and fix Mermaid diagram syntax
  examples/masisi.md
  src/api/Champion.lua
  src/collectors/Champion.lua
  src/generators/sections/ChampionDiagram.lua
Due: no-debug-prints

feat: optimize string concatenation and add LibCustomIcons support
  docs/champion_mermaid_usage.md
  examples/Dolu-tenasi.md
  examples/Karakedi.md
  examples/Talon_Valois.md
  examples/kellen_dysart.md
  examples/masisi.md
  examples/templates/champion_points.yaml
  examples/templates/cp-schema.yaml
  examples/templates/craft_enhanced.mmd
  examples/templates/fitness_enhanced.mmd
  examples/templates/warfare_enhanced.mmd
  generate_diagrams.py
  reproduce_chunking.lua
  scripts/generate_champion_graph.py
  src/collectors/Champion.lua
  src/generators/Markdown.lua
  src/generators/helpers/ChampionPointsGraph.lua
  src/generators/helpers/ChampionPointsGraph_new.lua
  src/generators/sections/ChampionDiagram.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/CharacterProgress.lua
  src/generators/sections/Overview.lua
  src/settings/Panel.lua
  src/utils/Chunking.lua
  test_champion_diagram_gen.lua
  test_champion_mermaid.lua
  test_link_chunking.lua
  test_mermaid_header.lua
  test_mermaid_json.lua
  test_node_sanitization.lua
  test_trim.md
  tests/verify_character_progress.lua
  tests/verify_custom_icons.lua
  tests/verify_settings_panel.lua
Due: no-debug-prints

chore: Prepare release v2.2.2
  CHANGELOG.md
  CharacterMarkdown.addon
  examples/masisi.md
Due: version-sync

fix(docs): Move build-dir to [build] table in book.toml
  book.toml
Due: none
