Repository solaegis/CharacterMarkdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, no-debug-prints, version-sync

Path conditions:
  validate-manifest: any of: ^CharacterMarkdown\.txt$
  no-debug-prints: any of: \.lua$
  version-sync: any of: ^(CharacterMarkdown\.txt|CHANGELOG\.md)$

fix(docs): Remove invalid 'multilingual' key from book.toml
  book.toml
Due: none

Release v2.2.3
  .agent/workflows/install_live.md
  CHANGELOG.md
  CharacterMarkdown.addon
  README.md
  README_ESOUI.txt
  Taskfile.yaml
  docs/PVP_QUICK_REFERENCE.md
  docs/README.md
  examples/masisi.md
  examples/masisi.tonl
  src/Commands.lua
  src/Core.lua
  src/generators/helpers/ChampionPointsGraph.lua
  src/generators/helpers/Utilities.lua
  src/generators/sections/Footer.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/utils/AdvancedMarkdown.lua
Due: no-debug-prints, version-sync

Release v2.2.4: Fix ESOUI compliance and cleanup
  .build-ignore
  CHANGELOG.md
  CharacterMarkdown.addon
  debug_guild_data.lua
  examples/masisi.md
  examples/masisi.tonl
  generate_diagrams.py
  issues_summary.txt
  reproduce_chunking.lua
  reproduce_issue.lua
  scripts/validate-zip.sh
  src/Commands.lua
  src/Core.lua
  src/Events.lua
  src/api/Champion.lua
  src/api/Combat.lua
  src/api/Companion.lua
  src/collectors/Champion.lua
  src/collectors/Companion.lua
  src/collectors/Inventory.lua
  src/collectors/Skills.lua
  src/formatters/TONL.lua
  src/generators/sections/Achievements.lua
  src/generators/sections/ChampionPoints.lua
  test_champion_diagram_gen.lua
  test_champion_mermaid.lua
  test_link_chunking.lua
  test_mermaid_header.lua
  test_mermaid_json.lua
  test_node_sanitization.lua
  test_regex.lua
  test_stats.lua
  test_trim.md
  uesp_linked_phrases.txt
  validation_report.txt
  validation_report_full.txt
  verify_character_progress.lua
  verify_guild_fix.lua
  verify_passives_refactor.lua
Due: no-debug-prints, version-sync

Fix: Exclude .luarocks and web files from build
  .build-ignore
Due: none

Release v2.2.4: Whitelist-based build with pre-build validation
  Taskfile.yaml
  scripts/build-copy.sh
  scripts/pre-build-check.sh
Due: none

Fix: Use -name instead of -path for test file exclusion
  scripts/build-copy.sh
Due: none

Fix: Include production Tests files in build
  scripts/build-copy.sh
Due: none

Fix: Companion rapport comparison error
  examples/masisi.tonl
  src/generators/sections/Companion.lua
Due: no-debug-prints

Fix: Character.lua rapport comparison error
  src/generators/sections/Character.lua
Due: no-debug-prints

Fix Champion Points diagram nesting and separator; apply example file updates
  compare_keys.py
  examples/Stoirmgheal.md
  examples/masisi.md
  masisi_head.md
  masisi_headers.txt
  scripts/verify_clean_formats.sh
  src/generators/Markdown.lua
  src/generators/sections/ChampionDiagram.lua
  src/generators/sections/Companion.lua
  src/generators/sections/DISABLED/EquipmentEnhancement.lua
  stoirmgheal_head.md
  stoirmgheal_headers.txt
Due: no-debug-prints

Update Stoirmgheal example with verified v2.2.4 data
  examples/Stoirmgheal.md
Due: none

WIP: Auto-save for Jules Handover [2025-12-09T19:27:13.520Z]
  examples/Stoirmgheal.md
Due: none

refactor: modularize equipment section into separate components
  CharacterMarkdown.addon
  examples/Karakum.md
  src/generators/sections/Equipment.lua
Due: no-debug-prints

refactor(equipment): add modularized submodules and remove deprecated progression generator
  examples/Karakum.md
  src/generators/sections/CharacterProgress.lua
  src/generators/sections/equipment/GearTable.lua
  src/generators/sections/equipment/Helpers.lua
  src/generators/sections/equipment/SkillBars.lua
  src/generators/sections/equipment/SkillMorphs.lua
  src/generators/sections/equipment/Skills.lua
Due: no-debug-prints

refactor: replace monolithic Taskfile with modular version
  Taskfile.yaml
  archive/docs/API_MODULES_CODE_REVIEW.md
  archive/docs/CRAFT_BAG_FIX.md
  archive/docs/CRAFT_BAG_SYSTEM_PROMPT.md
  archive/docs/DOCUMENTATION_AUDIT_GUIDE.md
  archive/docs/MARKDOWN_WINDOW_CREATION.md
  archive/docs/README.md
  archive/docs/RELEASE_TASKS_REFERENCE.md
  archive/docs/TASKFILE_ENHANCEMENTS.md
  archive/docs/champion_mermaid_usage.md
  docs/ARCHITECTURE.md
  docs/CHAMPION_DIAGRAM_ENHANCEMENT.md
  docs/CHAMPION_PATHFINDER_USAGE.md
  docs/CHAMPION_POINTS.md
  docs/CHAMPION_POINTS_FLOW.md
  docs/CHAMPION_POINTS_SYSTEM.md
  docs/DEVELOPMENT.md
  docs/PVP_QUICK_REFERENCE.md
  docs/PVP_STATS.md
  docs/PVP_STATS_FEATURE.md
  docs/PVP_STATS_UPDATE_SUMMARY.md
  docs/README.md
  docs/SUMMARY.md
  examples/Karakum.md
  src/generators/sections/Companion.lua
  src/utils/AdvancedMarkdown.lua
  taskfiles/Build.yaml
  taskfiles/Dev.yaml
  taskfiles/Examples.yaml
  taskfiles/Install.yaml
  taskfiles/Release.yaml
Due: no-debug-prints

refactor: finalize modular Taskfile structure and variables
  Taskfile.yaml
  examples/Karakum.md
  taskfiles/Dev.yaml
Due: none

build: use quoted placeholder for VERSION in Taskfile
  Taskfile.yaml
Due: none

build: use standard @project-version@ placeholder in Taskfile
  Taskfile.yaml
Due: none

docs: update book.toml with correct repository URLs and version placeholder
  book.toml
Due: none

docs: standardize version placeholders and fix repository URLs
  docs/DEVELOPMENT.md
  docs/README.md
Due: none

docs: replace Content.lua with Crafting.lua in architecture diagram
  docs/ARCHITECTURE.md
Due: none

docs: complete version standardization across all guides
  README.md
  docs/PUBLISHING.md
Due: none

docs: standardize version placeholders in settings and checklists
  src/settings/Initializer.lua
  src/settings/Panel.lua
Due: no-debug-prints

docs: finalize version standardization and documentation cleanup
  RELEASE_CHECKLIST.md
Due: none

chore: cleanup repository by removing temporary files and build clutter
  compare_keys.py
  masisi_head.md
  masisi_headers.txt
  stoirmgheal_head.md
  stoirmgheal_headers.txt
Due: none

refactor(settings): standardize boolean naming conventions
  src/formatters/Markdown.lua
  src/formatters/TONL.lua
  src/generators/Markdown.lua
  src/generators/sections/Antiquities.lua
  src/generators/sections/DLCAndMundus.lua
  src/generators/sections/PvPStats.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
Due: no-debug-prints

refactor(settings): add [BETA] tags to experimental features
  src/settings/Panel.lua
Due: no-debug-prints

fix(settings): fix build notes persistence issue
  src/settings/Panel.lua
Due: no-debug-prints

fix(chunking): fix GetMermaidHeader to handle init comments
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(chunking): reserve overhead for mermaid headers in continuation chunks
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(diagram): separate CP legend into standalone mermaid block
  examples/Karakum.md
  src/generators/sections/ChampionDiagram.lua
Due: no-debug-prints

fix(chunking): prevent duplicate mermaid header prepending
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(chunking): skip prepending when chunk starts with mermaid fence
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(chunking): stabilize mermaid block splitting and prevent empty blocks
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(chunking): skip padding when chunk ends inside mermaid header
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

Revert "fix(chunking): skip padding when chunk ends inside mermaid header"
  examples/Karakum.md
  src/utils/Chunking.lua
Due: no-debug-prints

feat(trim): add mermaid block blank line trimming
  examples/Karakum.md
  scripts/trim.py
Due: none

refactor(examples): apply mermaid blank line trimming to all examples
  examples/laetha.md
  examples/masisi.md
Due: none
