Repository solaegis/CharacterMarkdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, no-debug-prints, version-sync

validate-manifest:
  name: Validate CharacterMarkdown.txt manifest
  entry: lua5.1 scripts/validate-manifest.lua
  language: system
  pass_filenames: true
  fail_fast: true

no-debug-prints:
  name: Check for debug print statements
  entry: 'bash -c ''if grep -rn "print(" src/ --include="*.lua" | grep -v "-- DEBUG:"; then echo "❌ Found debug print() statements (use d() or add -- DEBUG: comment)"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false
  verbose: true

version-sync:
  name: Check manifest and CHANGELOG version sync
  ...

fix(build): resolve task dependency issue in build:release
  taskfiles/Build.yaml
Due: none

fix(docs): repair mdBook configuration
  book.toml
Due: none

chore(release): bump version to 2.2.5
  CHANGELOG.md
Due: version-sync

fix(scripts): resolve task name errors in pre-release check
  scripts/pre-release-check.sh
Due: none

fix(build): exclude taskfiles directory from release package
  .build-ignore
Due: none

Add GitHub Actions workflow for mdBook deployment
  .github/workflows/mdbook.yml
Due: none

fix(chunking): resolve logic errors and shadowing; update example files
  .luacheckrc
  examples/Elric.md
  examples/Lei-Tun.md
  examples/Ringil.md
  examples/Sjelhøsteren.md
  examples/Tziyad.md
  examples/Zirhli.md
  examples/masisi-eu.md
  src/utils/Chunking.lua
Due: no-debug-prints

fix(ui): enable cursor mode and keyboard focus for markdown window
  .claude/auto-memory/dirty-files
  .github/workflows/release.yaml
  examples/Ringil.md
  src/commands/Debug.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/Chunking.lua
  src/utils/Platform.lua
Due: no-debug-prints

fix(chunking): unify padding, reorder truncation, add tests and docs
  .claude/auto-memory/dirty-files
  docs/CHUNKING.md
  examples/Siyah-ayi.md
  src/utils/Chunking.lua
  src/utils/Constants.lua
  src/utils/TestChunking.lua
Due: no-debug-prints

feat(settings): implement settings panel review plan
  examples/Siyah-ayi.md
  src/settings/Panel.lua
Due: no-debug-prints

fix: ESO API data gathering review implementation
  .claude/auto-memory/dirty-files
  CharacterMarkdown.addon
  archive/optional/ChampionPathfinder.lua
  docs/ARCHITECTURE.md
  docs/CHAMPION_POINTS.md
  docs/CHUNKING_ALGORITHM.md
  docs/MEMORY_MANAGEMENT.md
  examples/Siyah-ayi.md
  src/api/Achievements.lua
  src/api/Character.lua
  src/api/Collectibles.lua
  src/collectors/Inventory.lua
  src/formatters/TONL.lua
  src/generators/helpers/ChampionPointsGraph_new.lua
  src/generators/sections/ChampionDiagram.lua
  src/settings/Defaults.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/Chunking.lua
  src/utils/ChunkingHelpers.lua
  src/utils/TONL.lua
Due: no-debug-prints

feat: add release checklist Phase 2 tasks
  Taskfile.yaml
  taskfiles/Docs.yaml
  taskfiles/Examples.yaml
Due: none

fix: ARCHITECTURE Lua comment syntax; chunking never splits mermaid blocks
  docs/ARCHITECTURE.md
  src/utils/Chunking.lua
Due: no-debug-prints

docs: update CHANGELOG for 2.2.6 and unreleased fixes
  CHANGELOG.md
Due: version-sync

chore: sync README_ESOUI, remove Karakum.md, trim Siyah-ayi
  README_ESOUI.txt
  examples/Karakum.md
  examples/Siyah-ayi.md
Due: none

feat: update to for ESO Update 49 (API 101049) and revamp README_ESOUI.txt
  .claude/auto-memory/dirty-files
  CHANGELOG.md
  CLAUDE.md
  CharacterMarkdown.addon
  README.md
  README_ESOUI.txt
  examples/Hadriān-build.md
  examples/Hadriān.md
  examples/Walsingham.md
  src/Core.lua
  src/api/Champion.lua
  src/api/Combat.lua
  src/api/Companion.lua
  src/collectors/Champion.lua
  src/collectors/Companion.lua
  src/generators/sections/ChampionPoints.lua
Due: no-debug-prints, version-sync

fix: correct action bar slot indices in skill bar export
  CharacterMarkdown.addon
  src/api/Skills.lua
  src/collectors/Skills.lua
  src/commands/Test.lua
  src/utils/SkillsSlotTests.lua
Due: no-debug-prints

docs: sync examples, build plans, and templates
  AGENTS.md
  docs/plan_structure.md
  examples/solaegis/na/heka_ankh_plan.md
  examples/solaegis/na/karakedi.md
  examples/solaegis/na/karakedi_plan.md
  examples/solaegis/na/kellen_dysart.md
  examples/solaegis/na/kellen_dysart_plan.md
  examples/solaegis/na/laetha.md
  examples/solaegis/na/lei_tun.md
  examples/solaegis/na/lei_tun_plan.md
  examples/solaegis/na/pelatiah.md
  examples/solaegis/na/pelatiah_plan.md
  examples/solaegis/na/rilis_toxil.md
  examples/solaegis/na/rilis_toxil_plan.md
  examples/solaegis/na/stoirmgheal.md
  examples/solaegis/na/stoirmgheal_plan.md
  examples/templates/README.md
  examples/templates/build_plan_template.md
  examples/templates/champion_points_reference.md
  examples/templates/template_plan.md
  scripts/generate_champion_points_reference.py
Due: none

Release v2.2.7
  CHANGELOG.md
  README.md
  README_ESOUI.txt
Due: version-sync

fix: exclude toml from ESOUI package and bind CI release version
  .build-ignore
  .github/workflows/release.yaml
  CHANGELOG.md
Due: version-sync

Release v2.2.8
  AGENTS.md
  CHANGELOG.md
  CharacterMarkdown.addon
  README_ESOUI.txt
  docs/settings-presets-matrix.md
  examples/solaegis/na/heka_ankh.md
  examples/solaegis/na/hya_cinthe_plan.md
  examples/solaegis/na/karakedi.md
  examples/solaegis/na/rilis_toxil.md
  src/Commands.lua
  src/api/Equipment.lua
  src/api/Skills.lua
  src/collectors/Character.lua
  src/collectors/Equipment.lua
  src/commands/Test.lua
  src/generators/Markdown.lua
  src/generators/sections/ChampionDiagram.lua
  src/generators/sections/Overview.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/Chunking.lua
  src/utils/EquipmentSetCountTests.lua
  src/utils/TestChunking.lua
Due: no-debug-prints, version-sync

Refresh ESOUI listing for v2.2.8 without version bump.
  .github/workflows/release.yaml
  AGENTS.md
  CHANGELOG.md
  README_ESOUI.txt
  docs/PUBLISHING.md
Due: version-sync

feat: add P50 world progress, appearance, and export depth
  .github/workflows/release.yaml
  AGENTS.md
  CHANGELOG.md
  CharacterMarkdown.addon
  README_ESOUI.txt
  docs/settings-presets-matrix.md
  examples/solaegis/na/rilis_toxil.md
  scripts/esoui-upload.sh
  scripts/validate_example_preset.py
  src/api/Achievements.lua
  src/api/Antiquities.lua
  src/api/Appearance.lua
  src/api/Collectibles.lua
  src/api/Crafting.lua
  src/api/Quests.lua
  src/api/Skills.lua
  src/api/Vengeance.lua
  src/api/World.lua
  src/collectors/Achievements.lua
  src/collectors/Antiquities.lua
  src/collectors/Appearance.lua
  src/collectors/Character.lua
  src/collectors/Combat.lua
  src/collectors/Crafting.lua
  src/collectors/PvP.lua
  src/collectors/Skills.lua
  src/collectors/World.lua
  src/generators/Markdown.lua
  src/generators/sections/Achievements.lua
  src/generators/sections/Antiquities.lua
  src/generators/sections/Appearance.lua
  src/generators/sections/Crafting.lua
  src/generators/sections/DLCAndMundus.lua
  src/generators/sections/Overview.lua
  src/generators/sections/TitlesHousing.lua
  src/generators/sections/World.lua
  src/generators/sections/equipment/SkillBars.lua
  src/settings/Defaults.lua
  src/settings/Panel.lua
Due: no-debug-prints, version-sync

Release v2.3.0: P50 export depth, housing ID fix, changelog
  CHANGELOG.md
  README_ESOUI.txt
  src/api/Collectibles.lua
  src/collectors/Collectibles.lua
Due: no-debug-prints, version-sync

feat: ESOUI PC compliance, server-scoped SV, and optional libs
  .agent/rules.md
  .build-ignore
  .cursorrules
  .github/workflows/release.yaml
  .luacheckrc
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CharacterMarkdown.txt
  README_ESOUI.txt
  RELEASE_CHECKLIST.md
  Taskfile.yaml
  docs/ARCHITECTURE.md
  docs/PUBLISHING.md
  docs/VERSION_PLACEHOLDER_SYSTEM.md
  scripts/README.md
  scripts/build-copy.sh
  scripts/pre-build-check.sh
  scripts/pre-release-check.sh
  scripts/replace-version.sh
  scripts/update-api-version.sh
  scripts/validate-zip.sh
  src/Commands.lua
  src/Core.lua
  src/Init.lua
  src/commands/Debug.lua
  src/commands/Settings.lua
  src/commands/Test.lua
  src/generators/Markdown.lua
  src/generators/sections/Character.lua
  src/generators/sections/DLCAndMundus.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/utils/Chat.lua
  src/utils/LibAsyncIntegration.lua
  src/utils/LibCustomIconsIntegration.lua
  src/utils/Platform.lua
  taskfiles/Install.yaml
Due: validate-manifest, no-debug-prints, version-sync

feat(compliance): enforce ESOUI best practices across manifest, listing, and CI
  .agent/rules.md
  .build-ignore
  .cursorrules
  .github/workflows/release.yaml
  AGENTS.md
  Best_Practices_and_Rules.md
  CHANGELOG.md
  CONTRIBUTING.md
  CharacterMarkdown.txt
  LICENSE.md
  README_ESOUI.txt
  RELEASE_CHECKLIST.md
  Taskfile.yaml
  docs/ESOUI_BEST_PRACTICES.md
  docs/ESOUI_COMPLIANCE.md
  docs/PUBLISHING.md
  scripts/README.md
  scripts/build-copy.sh
  scripts/pre-release-check.sh
  scripts/validate-esoui-compliance.sh
  scripts/validate-manifest.lua
  scripts/validate-zip.sh
  src/settings/Initializer.lua
  taskfiles/Dev.yaml
  taskfiles/Release.yaml
Due: validate-manifest, no-debug-prints, version-sync

docs: refresh version badge and listing docs link
  README.md
  README_ESOUI.txt
Due: none

refactor(commands): prefer /cm and keep /markdown as alias
  .agent/rules.md
  .cursorrules
  CLAUDE.md
  README.md
  RELEASE_CHECKLIST.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/MEMORY_MANAGEMENT.md
  docs/PVP_STATS.md
  docs/README.md
  docs/TESTING_COMMAND.md
  docs/VERSION_PLACEHOLDER_SYSTEM.md
  docs/plan_structure.md
  docs/prompts/changelog_entry_prompt.md
  examples/README.md
  examples/solaegis/na/alpha_top.md
  examples/solaegis/na/heka_ankh_plan.md
  examples/solaegis/na/kellen_dysart_plan.md
  examples/solaegis/na/lei_tun_plan.md
  examples/solaegis/na/pelatiah_plan.md
  examples/solaegis/na/rilis_toxil_plan.md
  examples/solaegis/na/silent_snow_falls_plan.md
  examples/templates/README.md
  examples/templates/claude_project_setup.md
  examples/templates/optimization_assistant.md
  examples/templates/template_plan.md
  scripts/pre-release-check.sh
  src/Commands.lua
  src/Events.lua
  src/Init.lua
  src/commands/Debug.lua
  src/commands/Settings.lua
  src/commands/Test.lua
  src/ui/Window.lua
Due: no-debug-prints

fix(ui): pause markdown keyboard capture when opening settings
  .luacheckrc
  src/ui/CharacterMarkdown.xml
  src/ui/Window.lua
Due: no-debug-prints

docs(examples): add EU Solaegis profiles and refresh NA exports
  AGENTS.md
  examples/solaegis/eu/lord_elric_of_melnibone.md
  examples/solaegis/eu/lord_elric_of_melnibone_plan.md
  examples/solaegis/eu/masisi.md
  examples/solaegis/eu/masisi_plan.md
  examples/solaegis/na/karakum.md
  examples/solaegis/na/lord_elric_of_melnibone.md
  examples/solaegis/na/rilis_toxil.md
  examples/solaegis/na/stoirmgheal.md
Due: none

feat(coach): include collectibles and appearance in Build Coach
  CHANGELOG.md
  docs/settings-presets-matrix.md
  examples/fixtures/build_coach_example.md
  examples/templates/optimization_assistant.md
  src/api/Appearance.lua
  src/generators/BuildCoach.lua
  src/generators/Markdown.lua
  src/generators/sections/Appearance.lua
  src/settings/Panel.lua
  src/utils/BuildCoachTests.lua
Due: no-debug-prints, version-sync

docs: expand plan guidance with collectibles ledger and U49 DK
  AGENTS.md
  docs/SUMMARY.md
  docs/collectibles_companion_ledger.md
  docs/dragonknight_u49.md
  docs/plan_structure.md
  docs/subclassing.md
  docs/superpowers/specs/2026-09-06-collectibles-companion-ledger-design.md
  examples/templates/template_plan.md
Due: none

docs(examples): grow EU Solaegis roster and drop Sjelhøsteren
  examples/README.md
  examples/solaegis/eu/alpha_top.md
  examples/solaegis/eu/alpha_top_plan.md
  examples/solaegis/eu/dolu_tanesi.md
  examples/solaegis/eu/dolu_tanesi_plan.md
  examples/solaegis/eu/karakadin.md
  examples/solaegis/eu/karakadin_plan.md
  examples/solaegis/eu/lord_elric_of_melnibone.md
  examples/solaegis/eu/masisi.md
  examples/solaegis/eu/masisi_plan.md
  examples/solaegis/eu/s_katib_asrar.md
  examples/solaegis/eu/s_katib_asrar_plan.md
  examples/solaegis/eu/sabir_al_rih.md
  examples/solaegis/eu/sabir_al_rih_plan.md
  examples/solaegis/eu/taranis_kotu.md
  examples/solaegis/eu/taranis_kotu_plan.md
  examples/solaegis/eu/zirhli.md
  examples/solaegis/eu/zirhli_plan.md
  examples/solaegis/na/alpha_top.md
  examples/solaegis/na/dolu_tenasi.md
  examples/solaegis/na/dolu_tenasi_plan.md
  examples/solaegis/na/sjelhosteren.md
  examples/solaegis/na/zirhli.md
Due: none

feat(setdb): add UESP set database pipeline with typed effects
  .gitignore
  Taskfile.yaml
  data/sets/buffs.json
  data/sets/enchants.json
  data/sets/mundus.json
  data/sets/reports/parse_report.md
  data/sets/reports/unmodeled.md
  data/sets/schema.json
  data/sets/sets.json
  data/sets/traits.json
  docs/SET_DATABASE_PLAN.md
  pyproject.toml
  taskfiles/SetDB.yaml
  tools/__init__.py
  tools/setdb/README.md
  tools/setdb/__init__.py
  tools/setdb/__main__.py
  tools/setdb/fetch.py
  tools/setdb/normalize.py
  tools/setdb/parse.py
  tools/setdb/paths.py
  tools/setdb/test_normalize.py
  tools/setdb/validate.py
  tools/setdb/wiki.py
  tools/setdb/wikitext.py
  uv.lock
Due: none

feat(setdb): verify set data against an in-game dump
  .luacheckrc
  CharacterMarkdown.txt
  data/sets/reports/parse_report.md
  data/sets/reports/reconcile.md
  data/sets/reports/unmodeled.md
  data/sets/schema.json
  data/sets/sets.json
  docs/SET_DATABASE_PLAN.md
  pyproject.toml
  src/Commands.lua
  src/commands/SetDump.lua
  taskfiles/SetDB.yaml
  tools/setdb/README.md
  tools/setdb/__main__.py
  tools/setdb/parse.py
  tools/setdb/reconcile.py
  tools/setdb/test_reconcile.py
Due: validate-manifest, no-debug-prints, version-sync

Path conditions:
  validate-manifest: any of: ^CharacterMarkdown\.txt$
  no-debug-prints: any of: \.lua$
  version-sync: any of: ^(CharacterMarkdown\.txt|CHANGELOG\.md)$
