Repository solaegis/CharacterMarkdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, no-debug-prints, version-sync

Path conditions:
  validate-manifest: any of: ^CharacterMarkdown\.txt$
  no-debug-prints: any of: \.lua$
  version-sync: any of: ^(CharacterMarkdown\.txt|CHANGELOG\.md)$

checkpoint
  .luacheckrc
  CP_DISCIPLINE_HEADER_CHANGE.md
  CharacterMarkdown.xml
  MARKDOWN_OUTPUT_COMPARISON.md
  REGENERATE_BUTTON_IMPLEMENTATION.md
  Taskfile.yaml
  src/generators/Markdown.lua
  src/settings/Panel.lua
  src/ui/Window.lua
Due: no-debug-prints

checkpoint
  BEFORE_AFTER_COMPARISON.md
  CODE_IMPLEMENTATION_VERIFICATION.md
  COMPLETE_ENHANCEMENT_SUMMARY.md
  CONTINUE_SESSION_PROMPT.md
  CP_GRAPH.md
  ENHANCED_STRUCTURE_REFERENCE.md
  FINAL_DEDUPLICATION_SUMMARY.md
  MARKDOWN_IMPROVEMENTS_SUMMARY.md
  Masisi.md
  Masisi_Enhanced_Preview.md
  SETTINGS_DEFAULTS_FIX.md
  SETTINGS_DEFAULTS_ISSUE_SUMMARY.md
  Taskfile.yaml
  src/Events.lua
  src/generators/Markdown.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
Due: no-debug-prints

checkpoint
  CharacterMarkdown.txt
  MARKDOWN_REFACTORING_SUMMARY.md
  Masisi.md
  Masisi_Enhanced_Preview.md
  REFACTORING_TEST_GUIDE.md
  REFACTORING_VISUAL_COMPARISON.md
  src/generators/Markdown.lua
  src/generators/helpers/Utilities.lua
  src/generators/sections/Character.lua
  src/generators/sections/Combat.lua
  src/generators/sections/Companion.lua
  src/generators/sections/Content.lua
  src/generators/sections/Economy.lua
  src/generators/sections/Equipment.lua
  src/generators/sections/Footer.lua
Due: validate-manifest, no-debug-prints, version-sync

first commit
  README.md
Due: none

fix: use Lua 5.1 instead of LuaJIT beta for CI
  .github/workflows/release.yaml
Due: none

fix(ci): resolve Luacheck warnings and Lua installation
  .luacheckrc
Due: none

fix(ci): use standard lua instead of luajit for manifest validation
  .github/workflows/release.yaml
  scripts/validate-manifest.lua
Due: no-debug-prints

fix(ci): clarify description_file is optional in ESOUI upload
  .github/workflows/release.yaml
Due: none

Include README_ESOUI.txt for ESOUI upload action
  .build-ignore
  README_ESOUI.txt
Due: none

Include README_ESOUI.txt for ESOUI upload action
  README_ESOUI.txt
Due: none

release: next release to match ESO client update
  .gitignore
  CHANGELOG.md
  CharacterMarkdown.addon
  README.md
  Taskfile.yaml
  docs/README.md
  docs/SUMMARY.md
  docs/eso/champion_points/Craft_tree.mmd
  docs/eso/champion_points/Fitness_tree.mmd
  docs/eso/champion_points/Warfare_tree.mmd
  docs/examples/Masisi.md
  docs/examples/Masisi_Phase4_Enhanced.md
  docs/examples/Pelatiah.md
  docs/examples/champion-points.md
  scripts/replace-version.sh
  scripts/validate-manifest.lua
  src/Core.lua
  src/collectors/Character.lua
  src/collectors/TitlesHousing.lua
  src/generators/Markdown.lua
  src/generators/Masisi.md
  src/generators/sections/Character.lua
  src/settings/Defaults.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
Due: no-debug-prints, version-sync

Fix luacheck warnings to resolve GitHub Action failures
  .luacheckrc
  Taskfile.yaml
  src/collectors/Achievements.lua
  src/collectors/Character.lua
  src/generators/Markdown.lua
  src/settings/Initializer.lua
Due: no-debug-prints

Update GitHub Actions workflow to handle luacheck warnings gracefully
  .github/workflows/release.yaml
Due: none

Fix ESOUI upload by specifying README.md as description file
  .github/workflows/release.yaml
Due: none

Add cleanup step to delete existing release before creating new one
  .github/workflows/release.yaml
Due: none

Add ESOUI-specific README file and update manifest
  CharacterMarkdown.addon
  README-ESOUI.txt
Due: none

Update release workflow to use README-ESOUI.txt for ESOUI description
  .github/workflows/release.yaml
Due: none

Fix description_file path in release workflow
  .github/workflows/release.yaml
Due: none

Update workflow and manifest to use README_ESOUI.txt (standard naming)
  .github/workflows/release.yaml
  CharacterMarkdown.addon
  README_ESOUI.txt
Due: none

Update README_ESOUI.txt version to v2.1.8
  README_ESOUI.txt
Due: none

Add automatic version update for README_ESOUI.txt in release workflow
  .github/workflows/release.yaml
Due: none

Release v2.1.8
  CHANGELOG.md
  CharacterMarkdown.addon
  README_ESOUI.txt
Due: version-sync

Release v2.1.10
  CHANGELOG.md
Due: version-sync

Fix: Enable all sections in GitHub format and add missing generators
  CharacterMarkdown.addon
  CharacterMarkdown.xml
  src/Core.lua
  src/Events.lua
  src/collectors/Companion.lua
  src/collectors/Skills.lua
  src/generators/Markdown.lua
  src/generators/sections/ArmoryBuilds.lua
  src/generators/sections/Equipment.lua
  src/generators/sections/Footer.lua
  src/generators/sections/PvPStats.lua
  src/generators/sections/TalesOfTribute.lua
  src/generators/sections/UndauntedPledges.lua
  src/settings/Panel.lua
  src/ui/Window.lua
Due: no-debug-prints

Integrate unused API functions and fix code review issues
  CharacterMarkdown.addon
  src/collectors/Equipment.lua
  src/collectors/Extended.lua
  src/collectors/Progression.lua
  src/collectors/PvPStats.lua
  src/collectors/World.lua
  src/generators/Markdown.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Equipment.lua
  src/generators/sections/Guilds.lua
  src/generators/sections/PvPStats.lua
  src/settings/Defaults.lua
  src/settings/Panel.lua
Due: no-debug-prints

Release v2.1.11 - Fix guild collector, API functions, and zone completion
  CHANGELOG.md
  CharacterMarkdown.addon
  assets/Pelatiah.md
  assets/templates/optimization_assistant.md
  assets/templates/playstyle_strategy.md
  assets/templates/profile.md
  assets/templates/system_prompt.md
  src/collectors/Character.lua
  src/collectors/Economy.lua
  src/collectors/Extended.lua
  src/collectors/PvPStats.lua
  src/collectors/Skills.lua
  src/collectors/TitlesHousing.lua
  src/collectors/World.lua
  src/generators/Markdown.lua
  src/generators/sections/ArmoryBuilds.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Content.lua
  src/generators/sections/Economy.lua
  src/generators/sections/Footer.lua
  src/generators/sections/Guilds.lua
  src/generators/sections/PvPStats.lua
  src/generators/sections/TalesOfTribute.lua
  src/generators/sections/TitlesHousing.lua
  src/settings/Defaults.lua
  src/settings/FilterManager.lua
  src/settings/Panel.lua
Due: no-debug-prints, version-sync

Add bank gold and total gold display to currency section
  CharacterMarkdown.addon
  src/generators/sections/Economy.lua
Due: no-debug-prints

feat: new chunking strategy
  assets/Kellen Dysart.md
  src/collectors/Progression.lua
  src/generators/sections/Character.lua
Due: no-debug-prints

Fix: Keep headers and tables together in chunks
  assets/Pelatiah.md
  src/collectors/Equipment.lua
  src/generators/sections/Equipment.lua
  src/utils/Chunking.lua
Due: no-debug-prints

Release: Fix chunking to preserve header+table integrity
  assets/Pelatiah.md
  src/utils/Chunking.lua
Due: no-debug-prints

feat: Mermaid diagram enhancements and markdown formatting improvements
  .cursorrules
  .github/testing.md
  CHANGELOG.md
  CODE_REVIEW_CHAMPION_CONSTELLATIONS.md
  CODE_REVIEW_FINDINGS.md
  CharacterMarkdown.addon
  QUICK_FIX_GUIDE.md
  README.md
  assets/Pelatiah.md
  config.yaml
  docs/CHAMPION_DIAGRAM_ENHANCEMENT.md
  docs/CHAMPION_PATHFINDER_USAGE.md
  docs/CHAMPION_POINTS_FLOW.md
  docs/README.md
  docs/TESTING_COMMAND.md
  src/Commands.lua
  src/Core.lua
  src/collectors/Progression.lua
  src/generators/Markdown.lua
  src/generators/sections/ChampionDiagram.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Content.lua
  src/generators/sections/TitlesHousing.lua
  src/links/Abilities.lua
  src/links/Companions.lua
  src/links/Equipment.lua
  src/links/Systems.lua
  src/links/World.lua
  src/settings/Defaults.lua
  src/settings/FilterManager.lua
  src/settings/Initializer.lua
  src/settings/Panel.lua
  src/ui/Window.lua
  src/utils/ChampionPathfinder.lua
  src/utils/Chunking.lua
  src/utils/Constants.lua
  src/utils/ExportImportTests.lua
  src/utils/Formatters.lua
  testing.md
Due: no-debug-prints, version-sync

feat: markdown enhancements - HTML anchors and improved Champion Points diagram
  CharacterMarkdown.addon
  example.md
  src/generators/Markdown.lua
  src/generators/sections/Achievements.lua
  src/generators/sections/ArmoryBuilds.lua
  src/generators/sections/ChampionDiagram.lua
  src/generators/sections/ChampionPoints.lua
  src/generators/sections/Character.lua
  src/generators/sections/Combat.lua
  src/generators/sections/Companion.lua
  src/generators/sections/Content.lua
  src/generators/sections/Crafting.lua
  src/generators/sections/Economy.lua
  src/generators/sections/Equipment.lua
  src/generators/sections/EquipmentEnhancement.lua
  src/generators/sections/Footer.lua
  src/generators/sections/Guilds.lua
  src/generators/sections/PvPStats.lua
  src/generators/sections/Quests.lua
  src/generators/sections/TalesOfTribute.lua
  src/generators/sections/TitlesHousing.lua
  src/generators/sections/UndauntedPledges.lua
  src/generators/sections/World.lua
  src/links/Equipment.lua
  src/settings/Panel.lua
  src/utils/AdvancedMarkdown.lua
  testing.md
Due: no-debug-prints
